{{ define "main" }}
{{ if .IsHome }}
    <h1 class="title title--section" id="header-home">{{ if in .RelPermalink "/tags/" }}{{ T "allPostsTagged" }}: {{end}}{{ .Params.Title }}</h1>
    <section class="content" aria-labelledby="header-home">{{ .Content }}</section>
    <h2 class="title title--section" id="header-homesection">{{ T "newPosts" }}</h2>
    <section aria-labelledby="header-homesection">
        <ol class="list">
            {{ range first 4 (where .Site.RegularPages ".Section" "posts") }}
                {{ partial "post" . }}
            {{ end }}
        </ol>
    </section>
{{ else }}
    {{ partial "breadcrumbs" . }}
    <h1 class="title title--section" id="header-list">
        {{ if in .RelPermalink "/tags/" }}
            {{ if eq .Kind "taxonomy" }}
                {{ T "allTaxonomy" }}
            {{ else }}
                {{ T "allPostsTagged" }}: {{ .Title }}
            {{ end }}
        {{ else }}
            {{ .Title }}
        {{ end }}
    </h1>
    <section aria-labelledby="header-list">
        <div class="content">{{ .Content }}</div>
        <ol class="list">
            {{ $paginator := .Paginate .Pages.ByDate.Reverse }}
            {{ range $paginator.Pages }}
                {{ partial "post" . }}
            {{ end }}
        </ol>
    </section>
    {{ template "_internal/pagination.html" . }}
{{ end }}
{{ end }}