.tags{
    margin-block: $size--xs;
    gap: $size--sm;
    flex-wrap: wrap;
    &__tag{
        background-color: var(--clr__bg--tinted);
        padding: $size--xs $size--sm;
        display: block;
        border-radius: 5px;
    }
}